<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

<div class="feed">
<h2>Лента</h2>

<form method="POST" enctype="multipart/form-data">
<textarea name="text"></textarea>
<input type="color" name="color">
<input type="number" name="size" value="20">
<select name="font">
<option>Arial</option>
<option>Courier</option>
<option>Times New Roman</option>
</select>
<input type="file" name="image">
<button>Пост</button>
</form>

{% for post in posts %}
<div class="post">

<b>
<a href="/profile/{{post[1]}}">{{post[1]}}</a>
{% if post[1] != session["user"] %}
| <a href="/follow/{{post[1]}}">Подписка</a>
{% endif %}
</b>

<p style="color:{{post[3]}}; font-size:{{post[4]}}px; font-family:{{post[5]}}">
{{post[2]}}
</p>

{% if post[6] %}
<img src="/static/uploads/{{post[6]}}" class="post-img">
{% endif %}

<a href="/like/{{post[0]}}">
{% if user_likes[post[0]] %}
💜 {{likes[post[0]]}}
{% else %}
🤍 {{likes[post[0]]}}
{% endif %}
</a>

<div class="comments">
{% for comment in comments[post[0]] %}
<p><b>{{comment[0]}}</b>: {{comment[1]}}</p>
{% endfor %}
</div>

<form action="/comment/{{post[0]}}" method="POST">
<input name="text">
</form>

</div>
{% endfor %}

</div>

<div class="sidebar">
<h3>{{session["user"]}}</h3>
<a href="/profile/{{session['user']}}">Профиль</a><br>
<a href="/logout">Выйти</a>
</div>

</div>

</body>
</html>
